*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }


  :root {
    --card-color: #F0EFEB;
    --secondary-color:  #323232;
    --theme-color:  #79A7D3;
  }

  html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }

  body {
    height: 100vh;
    overflow-x: hidden;
  }

  ::selection {
    background-color: var(--secondary-color);
    color: white;
  }

  #container {
    display: grid;
    grid-template-rows: .5fr auto min-content;
    height: 100vh;
  }

  header {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
  }

  #library-header {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
  }

  #header-buttons {
    display: flex;
    gap: 50px;
  }

  #clear-all,
  #new-book-button {
    cursor: pointer;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 30px;
    transition: 0.1s ease-in-out;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #clear-all:active,
  #new-book-button:active {
    transform: scale(0.98);
  }